<div class="cookie-box">
	<p>This website use cookies to help you have a better and more relevant browsing experience on the website.</p>
	<button class="button" id="acceptBtn">Accept</button>
	<button class="button" id="declineBtn">Decline</button>
</div>

@code{
	private async void CookiesAccepted(bool accepted)
	{
		
	}
}