@inject NavigationManager NavigationManager
@inject IJSRuntime JSRunTime

<EditForm FormName="Login" Model="this" OnSubmit="HandleLogin" id="loginForm">
    <div class="mb-3">
        <label for="loginInputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="loginInputEmail" required />
    </div>
    <div class="mb-3">
        <label for="loginInputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="loginInputPassword" required />
    </div>
    <div class="mb-3" style="display:none;" id="loginFlashMessage">
        <p class="text-danger">Incorrect Email or Password!</p>
    </div>
    <button type="submit" class="btn btn-primary" style="width:120px;">
        <span id="loginSpinner" class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
        <span id="loginText" role="status">Log in</span>
    </button>
    <NavLink class="btn btn-link d-inline-block" href="register">Register</NavLink>
</EditForm>

@code {
    private async void HandleLogin()
    {
        var authModule = await JSRunTime.InvokeAsync<IJSObjectReference>("import", "./js/auth.js");
        string email = await authModule.InvokeAsync<string>("getInputValue", "loginInputEmail");
        string password = await authModule.InvokeAsync<string>("getInputValue", "loginInputPassword");
        await authModule.InvokeVoidAsync("SignIn", email, password, GetReturnUrl());
    }

    private string GetReturnUrl()
    {
        var uriBuilder = new UriBuilder(NavigationManager.Uri);
        var q = System.Web.HttpUtility.ParseQueryString(uriBuilder.Query);
        return $"/{q["returnUrl"]}" ?? uriBuilder.Path;
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
}