@using BlazorApp.Models

<div class="input-group mb-3">
	<input type="text"
		   class="form-control"
		   @bind="SearchInput"
		   placeholder="Search by title or author" 
		   />
	<button class="btn btn-secondary"
			type="button"
			id="button-search"
			@onclick="HandleSearch">
		Search
	</button>
	<button class="btn btn-outline-secondary"
			type="button"
			id="button-clear"
			@onclick="HandleClear">
		Clear
	</button>
</div>


@code {
	[Parameter]
	public EventCallback<string> SearchBookCallback { get; set; }
	[Parameter]
	public string SearchInput { get; set; } = string.Empty;

	private void HandleSearch()
	{
		SearchBookCallback.InvokeAsync(SearchInput);
	}
	private void HandleClear()
	{
		SearchInput = string.Empty;
		SearchBookCallback.InvokeAsync(SearchInput);
	}
}