@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main class="flex-shrink-0 py-3">

    <div class="background"></div>

    <article class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
        @Body
    </article>

    <CookieComponent />

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-dark border-top">
    <Footer />
</footer>
