<div class="nav-item dropdown">
    <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="d-inline-block d-sm-none fw-bold">Messages</div>
        <i class="bi bi-envelope-fill d-none d-sm-inline-block"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuMessages">
        <li><div class="dropdown-item">No new messages.</div></li>
    </ul>
</div>