<nav class="navbar navbar-expand-md">
  <a class="navbar-brand ms-3" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Books</a>
      <a class="nav-item nav-link" href="#">Categories</a>
      <a class="nav-item nav-link" href="#">Bestsellers</a>
      <a class="nav-item nav-link" href="#">Contact</a>
      <div class="d-none d-md-block">
        <button type="button" class="btn btn-primary me-3">Log in</button>
        <button type="button" class="btn btn-primary">Register</button>
      </div>

      <div class="d-block d-md-none">
        <button type="button" class="navn-item nav-link">Log in</button>
        <button type="button" class="navn-item nav-link">Register</button>
      </div>
    </div>
  </div>
</nav>


<!--
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

-->