@page "/"

@using BlazorApp.Service
@inject DBService DbService

<PageTitle>Home</PageTitle>

<h1>BookVers</h1>

Uncover Worlds. Discover Deals.
<button type="button"> </button>
<button type="button"> </button>

<p>@connectionStatus</p>

@code 
{
    private string connectionStatus;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var connection = DbService.GetConnection();
            if (connection.State == System.Data.ConnectionState.Open)
            {
                connectionStatus = "Database connection successful!";
            }
            else
            {
                connectionStatus = "Failed to connect to the database.";
            }
        }
        catch (Exception ex)
        {
            connectionStatus = $"Error: {ex.Message}";
        }
    }
}