@page "/"

@using BlazorApp.Models
@using BlazorApp.Service

<PageTitle>Home</PageTitle>
<div class="content">

	<div class="banner">
		<div class="hero-text">Book</div>
		<div class="hero-text">Verse</div>
	</div>

	<div style="margin-top: 50px">
		<h1>Uncover Worlds. Discover Deals.</h1>
		<div style="margin-top: 50px">
			<button @onclick="NavigateToUrl" type="button" class="btn btn-primary me-3">I want to buy</button>
			<button type="button" class="btn btn-primary">I want to sell</button>
		</div>
	</div>
</div>
@code {
	[Inject]
	private NavigationManager Navigation { get; set; }

	private void NavigateToUrl()
	{
		Navigation.NavigateTo("https://localhost:7130/books");
	}
}