@page "/"

@using BlazorApp.Models
@using BlazorApp.Service
@inject DBService DbService

@* <PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@connectionStatus</p> *@

<SearchComponent SearchFilter="@searchFilter"  SearchBookCallback="HandleSearch"></SearchComponent>
@if (!string.IsNullOrWhiteSpace(searchFilter))
{
    <BookComponent books="filteredBooks"></BookComponent>
}
else
{
    <BookComponent books="books" ></BookComponent>
}

@code 
{
    private string connectionStatus;

    private List<Book> books = BooksRepository.GetBooks();
    private List<Book> filteredBooks = new List<Book> ();

    private string searchFilter = "";

    private void HandleSearch(string searchFilter)
    {
        this.searchFilter = searchFilter;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var connection = DbService.GetConnection();
            if (connection.State == System.Data.ConnectionState.Open)
            {
                connectionStatus = "Database connection successful!"; 
            }
            else
            {
                connectionStatus = "Failed to connect to the database.";
            }
        }
        catch (Exception ex)
        {
            connectionStatus = $"Error: {ex.Message}";
        }
    }
}