@page "/login"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        @{
            NavigationManager.NavigateTo("/");
        }
    </Authorized>
    <NotAuthorized>

        <PageTitle>Login</PageTitle>

        <div class="row justify-content-center">
            <div class="col col-xl-6">
                <LoginComponent UseCard=true />
            </div>
        </div>

    </NotAuthorized>
</AuthorizeView>

@code {

}