@page "/login"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor HttpContextAccessor

<AuthorizeView>
    <NotAuthorized>

        <PageTitle>Login</PageTitle>

        <div class="row justify-content-center">
            <div class="col col-sm-10 col-md-12 col-lg-10 col-xl-6">
                <LoginComponent UseCard=true />
            </div>
        </div>

    </NotAuthorized>
</AuthorizeView>

@code {
    protected async override Task OnInitializedAsync()
    {
        if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}